= render 'shared/side_bar'

.chat-main
  .chat-main__header
    .chat-main__header-group
      .chat-main__header-group-name= @group.name
      = link_to edit_group_path(@group), class: "chat-main__header-group-edit-btn" do
        Edit
    .chat-main__header-members
      MEMBER:
      %i
        - @group.users.each do |member|
          = member.name
  .chat-main__body
    = render partial: 'message', collection: @messages
  .chat-main__footer.clearfix
    = form_for [@group, @message], :html => {:id => "new_message"} do |f|
      = f.text_field :body, class: 'chat-main__footer-form-text', placeholder: 'type a message'
      %label{class: "chat-main__footer-form-file-input", for: "file-input"}
        %i.fa.fa-image
      = f.file_field :image, id: 'file-input'
      = f.submit 'Send', class: 'chat-main__footer-form-submit-btn'
